p {
  margin: 0;
  word-break: break-word;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #00a8ff;
  cursor: pointer;
  text-decoration: underline
}

.cc-underline {
  text-decoration: underline;
}
